*{
    margin: 0;
    padding: 0;
}

tr{

    background-color:#060606;
}
td{
    background-color:#060606;
}
td:hover{
    background-color:#343434;
}
.equals{
    background-color: #235264;
}
.equals:hover{
    background-color:#2791BA;
}
.operator{
    background-color: #131313;
}
.container{
    margin-top: 10px;
}
input{
    direction: rtl;
    color: transparent !important;
    text-shadow: 0px 0px 0px rgb(241, 239, 239);
}

